body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex; /* Main container uses flexbox */
}

.header {
  background: linear-gradient(to right, #007bff, #00c7ff); /* Example gradient */
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex; /* Header uses flexbox for button positioning */
  justify-content: space-between; /* Align items at opposite ends */
}

.toggle-sidebar {
  background: none; /* Remove default button styles */
  border: none;
  padding: 0;
  cursor: pointer; /* Indicate clickable cursor on hover
}